<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openpms.server.tenant.TenantMapper">
    <resultMap id="tenant" type="com.openpms.server.tenant.Tenant">
        <result column="kind" property="kind"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="name_en" property="nameEn"/>
        <result column="tel" property="tel"/>
        <result column="logo" property="logo"/>
        <result column="description" property="description"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>